:root {
  --main-grad: linear-gradient(to top, #4481eb 0%, #04befe 100%);
  --box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  --main-white: rgba(255, 255, 255);
  --main-black: rgba(0, 0, 0);
  --main-grey: rgb(170, 170, 170);
  --default-padding: 1rem;
  --border-radius: 50px;
  --margin-lrg: 4rem;
  --font-size-lrg: 5rem;
}

html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FLUID AND RESPONSIVE IMAGES */
img,
picture {
  max-width: 100%;
  display: block;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
