.highlights {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  padding: var(--default-padding);

  &__content {
    width: 50%;

    padding: var(--default-padding);
    margin-bottom: var(--margin-lrg);
  }

  &__card {
    box-shadow: rgba(0, 0, 0, 0) 0px 4px 16px, rgba(0, 0, 0, 0.4) 0px 8px 24px,
      rgba(0, 0, 0, 0) 0px 16px 56px;
    border-radius: var(--border-radius);
  }

  &__title,
  &__comp {
    background-color: var(--main-black);
    color: var(--main-white);
    padding: var(--default-padding);
    font-size: 1.5rem;
  }

  &__title {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }

  &__comp {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }
}

.heroContent {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: var(--margin-lrg);
  &__text {
    font-family: "Koulen", cursive;
    font-size: var(--font-size-lrg);
    text-align: center;
  }
}

.input {
  width: 100%;
  margin: 4rem 0rem 4rem 0rem;

  text-align: center;
  line-height: 0px;

  &__box {
    width: 30%;
    padding: var(--default-padding);
    border-style: none;
    border: 1px solid var(--main-grey);
    border-radius: var(--border-radius);
    background: transparent
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
      no-repeat 0rem;
    background-position-x: 20px;
    padding-left: 5rem;
  }
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
